@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Book";
  src: url('../GothamBook.ttf');
}

/* * {
  font-family: "Gotham Book", sans-serif;
} */

.retro-background {
  position: relative;
  background: url('./assets/retro-70s-and-80s-color-palette-mid-century-minimalist-abstract-art-ocean-waves-free-vector.jpg');
  background-color: rgb(244, 221, 179);
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.retro-background::after {
  content: "";
  position: absolute;
  top: 50%; /* Start halfway down */
  left: 0;
  width: 100%;
  height: 50%; /* Only cover the bottom half */
  background: linear-gradient(to top, rgb(244, 221, 179) 0%, transparent 70%); /* Fully transparent a bit before the bottom */
  z-index: -1; /* Position the gradient behind the content */
}
